<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        .container {
            width: 40%;
            margin: 20px auto 0px auto;
        }

        .removed label {
            text-decoration: line-through;
        }

        ul li {
            list-style-type: none;
        }

        ul li span {
            margin-left: 5px;
        }

        .footer {
            font-size: 0.7em;
            margin-top: 20vh;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <h2>{{ title }}</h2>
        <div class="input-group">
            <input type="text" class="form-control" v-model="newItem" @keyup.enter="addItem" placeholder="add list item here...">
            <span class="input-group-btn">
                <button class="btn btn-primary" @click="addItem">
                    Add!
                </button>
            </span>
        </div>
        <ul>
            <li v-for="item in items" v-bind:class="{'removed': item.checked}">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="item.checked">
                        {{item.text}}
                    </label>
                </div>
            </li>
        </ul>
        <div class="footer hidden">
            <hr />
            <em>Change the title of your shopping list here</em>
            <input v-model="title" />
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script>
        let data = {
            items: [{
                    text: 'Bananas',
                    checked: true
                },
                {
                    text: 'Apples',
                    checked: false
                }
            ],
            title: 'My Shopping List',
            newItem: ''
        };
        let app = new Vue({
            el: '#app',
            data: data,
            methods: {
                addItem() {
                    let _text;
                    _text = this.newItem.trim();
                    if (_text) {
                        this.items.push({
                            text: _text,
                            checked: false
                        });
                        this.newItem = '';
                    }
                }
            }
        });
    </script>
</body>

</html>